@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string startDate = ((FormSystem.DBModel.FormInfo)ViewData["InfoData"]).StartDate.ToString("yyyy-MM-dd");
    string endDate = ((FormSystem.DBModel.FormInfo)ViewData["InfoData"]).EndDate.ToString("yyyy-MM-dd");
}

<script>
    // Set layout edit ajax function
    function EditLayoutAjax(index) {
        var LID = 'LayoutIndex = ' + index;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditLayout")',
            data: LID,
            success: function (result) {
                $('#inputDescribe').val(result['Body']);
                $('#inputAns').val(result['Answer']);
                $('#selectType').val(result['QuestionType']);
                $('#checkNullable').attr('checked', result['NeedAns']);
            }
        })
    };

    $(document).ready(function () {
        // Get page's type and bypass function
        var setType = '@ViewData["EditType"].ToString()';
        if (setType != 'New') {
            $("#StartDate").val("@startDate")
            $("#EndDate").val("@endDate")

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowLayout")',
                success: function (result) { $('#qTable').append(result) }
            });
        }

        // create info data save function
        function SaveInfoPage() {
            $('#InfoForm').submit(
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveInfoData")',
                    data: $('#InfoForm').serialize(),
                    success: function (result) { }
                })
            );
        };

        // click nav-tab and save infomation into session
        $("#nav-layout-tab").click(SaveInfoPage);
        $("#nav-view-tab").click(SaveInfoPage);

        // Chose frequent question and show question data
        $('#freqQselect').change(function () {
            var formatData = 'frequenQ = ' + $('#freqQselect').val();
            $('#freqQListForm').submit(
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ShowFreqQInfo")',
                    data: formatData,
                    success: function (result) {
                        console.log(result);
                        $('#inputDescribe').val(result['Body']);
                        $('#inputAns').val(result['Answer']);
                        $('#selectType').val(result['QuestionType']);
                        $('#checkNullable').attr('checked', result['NeedAns']);
                    }
                })
            );
        });
    });
</script>
<!--Title-->
<div class="headTitle">
    <h1>後台 - 編輯表單</h1>
</div>
<hr />
<!--Edit Area-->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-Info" type="button" role="tab" aria-controls="nav-home" aria-selected="true">問卷</button>
        <button class="nav-link" id="nav-layout-tab" data-bs-toggle="tab" data-bs-target="#nav-Layout" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">問題</button>
        <a class="nav-link" id="nav-view-tab" data-bs-toggle="tab" data-bs-target="#nav-View" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#reviewForm" href="@Url.Action("ShowForm")">檢視表單</a>
    </div>
</nav>
<!--Page Start Here-->
<div class="tab-content" id="nav-tabContent">
    <!--問卷-->
    <div class="tab-pane fade show active" id="nav-Info" role="tabpanel" aria-labelledby="nav-home-tab">
        <p><!--排版用--></p>
        @{Html.RenderPartial("../PartialView/_NewInfo", ViewData["InfoData"]);}
    </div>
    <!--問題-->
    <div class="tab-pane fade" id="nav-Layout" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p><!--排版用--></p>
        <!--預設問題div-->
        <div class="mb-3 row">
            <label for="selectType" class="col-sm-1 col-form-label" style="text-align:right">種類:</label>
            <div class="col-sm-3">
                @Html.DropDownList("frequenQ", (IEnumerable<SelectListItem>)ViewBag.FrequenQList, new { @class = "form-select", @id = "freqQselect" })
            </div>
        </div>
        @{Html.RenderPartial("../PartialView/_NewLayout", ViewData["LayoutData"]);}
    </div>
    <!--檢視表單-->
    <div class="tab-pane fade" id="nav-View" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p></p>
        <div id="reviewForm"></div>
        <!--確認送出-->
        <hr />
        <div>
            <a class="btn btn-outline-warning" id="saveFrom" href="/BackStage/SaveFormToDB" onclick="return confirm('確認送出?');">送出</a>
        </div>
    </div>
</div>
