@helper TextBoxQsOrg(FormSystem.DBModel.FormLayout item, int order)
{
    string addText = (item.NeedAns) ? "(必填)" : "";
    string inputPara = (item.NeedAns) ? "required" : "";
    string inputName = $"[i].Answer";

    <div class="mb-3 row">
        <label for="@item.Answer" class="col-sm-2 col-form-label">@item.Body @addText</label>
        <div class="col-sm-6">
            <input type="text" name="@inputName" class="form-control" @inputPara>
        </div>
    </div>

    /*<input class="form-control" data-val="true" data-val-length="欄位 Answer 必須是最大長度為 50 的字串。" 
           data-val-length-max="50" name="[1].Answer" required="True" type="number" value="">*/
}

@helper TextBoxQsNum(string textID, string labelText, bool isRequired)
{
    string addText = (isRequired) ? "(必填)" : "";
    string inputPara = (isRequired) ? "required" : "";

    <div class="mb-3 row">
        <label for="@textID" class="col-sm-2 col-form-label">@labelText @addText</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="@textID" @inputPara>
        </div>
    </div>
}

@helper TextBoxQsEmail(string textID, string labelText, bool isRequired)
{
    string addText = (isRequired) ? "(必填)" : "";
    string inputPara = (isRequired) ? "required" : "";

    <div class="mb-3 row">
        <label for="@textID" class="col-sm-2 col-form-label">@labelText @addText</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="@textID" @inputPara>
        </div>
    </div>
}

@helper TextBoxQsDate(string textID, string labelText, bool isRequired)
{
    string addText = (isRequired) ? "(必填)" : "";
    string inputPara = (isRequired) ? "required" : "";

    <div class="mb-3 row">
        <label for="@textID" class="col-sm-2 col-form-label">@labelText @addText</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="@textID" @inputPara>
        </div>
    </div>
}

@helper RadioBtnQs(string id_input, string labelText, bool isRequired, string answers, string groupName)
{
    string addText = (isRequired) ? "(必填)" : "";
    string inputPara = (isRequired) ? "required" : "";
    string[] ansArray = answers.Split(';');
    int j = 0;
    <div class="mb-3 row">
        <label>&nbsp;&nbsp;&nbsp;@labelText @addText</label>

        @{
            int i = 0;
            foreach (string ans in ansArray)
            {
                <div class="col-1"></div>
                <div class="form-check col-11">
                    <input class="form-check-input" type="radio" name="@groupName" id="@id_input" value="@i" @inputPara>
                    <label class="form-check-label" for="@id_input">@ans</label>
                </div>

                i++;
            }
        }
    </div>
}

@helper CheckBoxQs(string id_input, string labelText, bool isRequired, string answers, string groupName)
{
    string addText = (isRequired) ? "(必填)" : "";
    string inputPara = (isRequired) ? "required" : "";
    string[] ansArray = answers.Split(';');
    <div class="mb-3 row">
        <label>&nbsp;&nbsp;&nbsp;@labelText @addText</label>
        @{
            int i = 0;
            foreach (string ans in ansArray)
            {
                <div class="col-1"></div>
                <div class="form-check col-11">
                    <input class="form-check-input" type="checkbox" name="@groupName" id="@id_input" value="@i" @inputPara>
                    <label class="form-check-label" for="@id_input">@ans</label>
                </div>

                i++;
            }
        }
    </div>
}