@model List<FormSystem.DBModel.FormLayout>
@{
    ViewBag.Title = "FillForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Title-->
<div class="jumbotron">
    <div class="row">
        <div class="col-7">
            <h1>@ViewBag.FormTitle</h1>
        </div>
        <div class="col-5">
            <h6>開放時間 : @ViewBag.FormStart ~ @ViewBag.FormEnd</h6>
        </div>
    </div>
    <p class="lead">@ViewBag.FormBody</p>
</div>
<hr />
<!--Body-->
<form style="margin-left:10px;" method="get" action="/Home/CheckAns">
    @if (this.Model != null)
        {
            for (int i = 0; i < this.Model.Count; i++)
            {
                switch (Model[i].QuestionType)
                {
                    case "QT01":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(input => this.Model[i].Answer, new { @class = "form-control", @required = this.Model[i].NeedAns })
                            </div>
                        </div>
                        break;

                    case "QT02":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(input => this.Model[i].Answer, new { @class = "form-control", @required = this.Model[i].NeedAns, @type = "number" })
                            </div>
                        </div>
                        break;

                    case "QT03":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(input => this.Model[i].Answer, new { @class = "form-control", @required = this.Model[i].NeedAns, @type = "email" })
                            </div>
                        </div>
                        break;

                    case "QT04":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(input => this.Model[i].Answer, new { @class = "form-control", @required = this.Model[i].NeedAns, @type = "date" })
                            </div>
                        </div>
                        break;

                    case "QT05":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            @foreach (string ans in this.Model[i].Answer.Split(';'))
                            {
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="form-check col-11">
                                        @Html.RadioButtonFor(radio => this.Model[i].Answer, ans, new { @class = "form-check-input col-1" })
                                        @Html.LabelFor(lable => this.Model[i].Answer, ans, new { @class = "form-check-label col-10" })
                                    </div>
                                </div>
                            }
                        </div>
                        break;

                    /*case "QT06":
                        <div class="mb-3 row">
                            @Html.LabelFor(input => this.Model[i].Answer, this.Model[i].Body, new { @class = "col-sm-2 col-form-label" })
                            @foreach (string ans in this.Model[i].Answer.Split(';'))
                                {
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="form-check col-11">
                                            @Html.CheckBox($"[{i}].Answer", new { value = ans })
                                            @Html.LabelFor(lable => this.Model[i].Answer, ans, new { @class = "form-check-label col-10" })
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        break;*/

                    default:
                        break;
                }
            }
        }
    <button type="submit" class="btn btn-primary">確定</button>
</form>
