@model List<FormSystem.DBModel.FormInfo>
@{
    ViewBag.Title = "FormManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] chkForm = new string[this.Model.Count];
}

<!--Title-->
<div class="jumbotron">
    <h1>後台 - 問卷管理</h1>
</div>
<hr />
<!--Search Area-->
<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <input class="form-control me-2" type="search" placeholder="搜尋問卷標題" aria-label="Search">
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            開始時間:
            <input class="form-control me-2" type="date">
        </div>
        <div class="col">
            結束時間:
            <input class="form-control me-2" type="date" placeholder="結束時間" aria-label="Search">
        </div>
        <div class="col">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
</div>
<hr />
<!--Function List-->
<div class="row">
    @Html.ActionLink("新增表單", "EditForm", "Home", new { @id = "NewForm" }, new { @class = "btn btn-secondary" })
</div>
<hr />
<!--Form List-->
@using (Html.BeginForm("DeleteForm", "Home", FormMethod.Post, new { @id = "FormList" }))
{
    <div>
        <input class="btn btn-outline-danger" type="submit" value="刪除所選" onclick="return confirm('確認刪除?');">
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">問卷名稱</th>
                <th scope="col">狀態</th>
                <th scope="col">開始時間</th>
                <th scope="col">結束時間</th>
                <th scope="col">統計</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="FormTable">
            @for (int i = 0; i < this.Model.Count; i++)
            {
                string num = (i + 1).ToString();
                string status = (DateTime.Now > this.Model[i].StartDate && DateTime.Now < this.Model[i].EndDate) ? "投票中" : "關閉中";
                <tr>
                    <td>@Html.CheckBox($"chkForm[{i}]", new { @value = this.Model[i].FormID })</td>
                    <th>@num</th>
                    <td>@Html.ActionLink(this.Model[i].Name, "EditForm", "Home", new { @id = this.Model[i].FormID }, null)</td>
                    <td>@status</td>
                    <td>@this.Model[i].StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@this.Model[i].EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@Html.ActionLink("前往", "DataAnalysis", "Home", new { id = this.Model[i].FormID }, null)</td>
                    <td>@Html.ActionLink("編輯表單", "EditForm", "Home", new { id = this.Model[i].FormID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    $("#FormList").on("submit", function () {
        return confirm("確認刪除選擇的表單嗎?");
    });
</script>


